#page_top	{width:100%;text-align: right;}
#searchDiv	{width:100%;text-align:center;}

#commodity_block	{width:200px;height:300px;text-align: center;margin: 0 0;
					float: left;margin:0 5;}
#commodity_img		{width:inherit;height:250px;}
